# This is the requirements file for Python 3.12 and lower, which includes some 
# packages (nwbwidgets) that may not yet be compatible with Python 3.13 or greater.

numpy
matplotlib
mat73 # package for importing MATLAB mat v7.3 files

pynwb==2.5.0 # These are pinned so we can test with the not recently updated nwbwidgets...
hdmf==3.12.2
nwbwidgets==0.11.3
ipython-genutils==0.2.0